.TotalSerialism {
  margin-top: 30px;
  min-height: calc(100vh - 150px);
}

.TotalSerialism .title {
  font-weight: bold;
  text-align: center;
}

.TotalSerialism .content {
  margin-top: 30px;
  margin-left: 0.67em;
  font-size: 20px;
}

.TotalSerialism .content ul {
  margin-left: 10px;
}

.TotalSerialism .content ul li {
  margin-top: 20px;
}

.TotalSerialism .form-row {
  display: flex;
}

.TotalSerialism .content .img-container {
  text-align: center;
}
.TotalSerialism .content .img-container img {
  height: 115px;
  width: auto;
  text-align: center;
}

.TotalSerialism .content .img-container .music {
  height: 800px;
  width: auto;
}
