.PitchMultiplication {
  margin-top: 30px;
}

.PitchMultiplication .title {
  font-weight: bold;
  text-align: center;
}

.PitchMultiplication .subtitle {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.PitchMultiplication .content {
  margin-top: 30px;
  margin-left: 0.67em;
  font-size: 20px;
}

.PitchMultiplication .content .img-container {
  text-align: center;
}
.PitchMultiplication .content .img-container .freq-series {
  height: 800px;
  width: auto;
}

.PitchMultiplication .content .img-container .mvmt3 {
  height: 800px;
  width: auto;
}


.PitchMultiplication .content ul {
  margin-left: 40px;
}

.PitchMultiplication .pitch-multiplication-row .row-info {
  margin-left: 10px;
  margin-bottom: 50px;
  margin-top: -30px;
}

.PitchMultiplication .pitch-multiplication-row .pm-operand-title {
  display: flex;
}

.PitchMultiplication .pitch-multiplication-row .pm-operand-title .basic-multi-select {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.PitchMultiplication .Footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
