.PitchMultiplication {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.PitchMultiplication .pitch-multiplication-row .row-info {
  margin-left: 10px;
  margin-bottom: 50px;
  margin-top: -30px;
}

.PitchMultiplication .pitch-multiplication-row .pm-operand-title {
  display: flex;
}

.PitchMultiplication .pitch-multiplication-row .pm-operand-title .basic-multi-select {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
